/* 16px base; rem still works as expected. */
html {
    font-size: 100%;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
}

#app {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}
