local env = {
    pollingInterval = 8,
    baseUrl = "http://127.0.0.1:8856",
    clientId = "client_01",
    serverToken = "change_me",
    aeAddress = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
    chunkSize = 256,
    getPath = "/api/task/get",
    reportPath = "/api/task/report",
    chunkedReportPath = "/api/task/chunked_report",
    -- mapScanPath = "/api/map/scan",
}
return env
